<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955246735468-8cuqetsv11lq71eu5mor7jg3ha18n1nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955246735468-8cuqetsv11lq71eu5mor7jg3ha18n1nl</string>
	<key>API_KEY</key>
	<string>AIzaSyDJdWJh4gJ4pGs3DK4HnX0SHxQA8-I166E</string>
	<key>GCM_SENDER_ID</key>
	<string>955246735468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bekabuturishvili.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-bc35b</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-bc35b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955246735468:ios:a0020cfaaf4e40c5a1a849</string>
</dict>
</plist>